networks:
  inception:
    name: inception


volumes:
  mariadb_data:
    name: mariadb_data
    
services:
  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb/.
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - inception
    restart: always
    env_file:
      - .env


